*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* VISTA RESPONSIVE */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    z-index: 10;
}

main {
    background-color: white;
    max-height: calc(100vh - 193px);
    height: 100%;
    overflow-y: auto;
    padding: 32px;
}

footer {
    margin-top: autos;
    position: relative;
}

/* HEADER */

header p {
    background-color: #1CD1B0;
    padding: 10px 28px;
}

header h1 {
    background-color: #00669F;
    font-size: 2.5rem;
    font-weight: 400;
    padding: 28px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25) ; 
}

/* MAIN */

main section {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 32px;
}

main section article.card {
    background-color: #F3F3F3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 530px;
    width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}   

/* CARD */
article.card .card-header {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px;
}

article.card img.fondo {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

article.card img.like {
    position: absolute;
    left: 20px;
    top: 20px;
}

article.card img.personaje {
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 60px);
    top: calc(100% - 62px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 120px;
}

article.card .card-content {
    padding: 74px 16px 18px;

}

article.card .card-content h2 {
    font-weight: 400;
    text-align: center;
}

article.card .card-content p {
    color: #333333;
    padding-top: 15px;
    padding-bottom: 36px;
}

article.card .card-content .card-button {
    text-align: center;
}

article.card .card-content .card-button span {
    background-color: #00669F;
    color: #F3F3F3;
    display: inline-block;
    padding: 16px 36px;
}
div.button{
    background-color: #00669F;
    color: white;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: calc(50% - 20px)
}

/* FOOTER */

footer {
    background-color: #00669F;
    padding: 16px 28px;
    text-align: center;
}

footer .footer-text {
    color: #FFF9F9;
    font-size: 1rem;
}

footer img {
    position: absolute;
    height: 30px;
    right: 15px;
    top: 10px;
}

/**************************************************/

/* TABLET */
@media (max-width: 1023px) {

    header p {
        background-color: #D1891C;        ;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    header h1 {
        color: white;
        font-size: 2rem;
        padding: 15px;
    }
    main {
        max-height: calc(100vh - 138px);
        padding: 40px 60px;
    }

    main section {
        row-gap: 60px;
    }

}

/**************************************************/

/* MOVIL */
@media (max-width: 420px) {
    footer .footer-text {
        display: inline-block;
        font-size: 0.95rem;
        max-width: calc(100vw - 150px);
        text-align: center;
    }
    footer img {
        height: 25px;
        top:20px
    }

    footer {
        text-align: left;
    }
}